body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #000; /* TEDx red */
    padding: 20px;
    text-align: center;
}

header img {
    max-width: 200px;
}

nav {
    background-color: #e62b1e; /* Black */
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.speaker-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.speaker-card {
    text-align: center;
    cursor: pointer;
}

.speaker-card img {
    max-width: 100%;
    border-radius: 10px;
}

.speaker-card .hidden {
    display: none;
}

.speaker-card .synopsis {
    margin-top: 10px;
    font-size: 0.9em;
    color: #666;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #e62b1e; /* TEDx red */
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.scroll-to-top.visible {
    opacity: 1;
    visibility: visible;
}
